.home{
    margin: 0;
    padding: 0;
    background-image: url('images/IMG_20180609_141518.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#logo{
    width: 60px;
    height: 60px;
    position: relative;
    right: 45%;
    bottom: 25%;
    border-radius: 50%;

}
nav {
   background-color: darkslateblue; 
   padding: 20px;
   text-align: center;
   width: 100%;
   height: 40px;
   opacity: 80%;
}

li{
    list-style: none;
    display: inline;
    
}

a{
    color: white;
    text-decoration: teal;
    margin: 20px;
    padding: 20px;
    font-size: 18px;
    position: relative;
    bottom: 70px;
}

.aboutme{
    font-family: 'Courier New', Courier, monospace;   
    text-align:center;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-color: white;
    margin-left: 5%;
    opacity: 80%;
}
.text{
      font-weight: bold;
      color: black;
      margin: 30px;
      padding: 0.2px;
}
   #mp{
       font-size: 34px;
       position: relative;
       bottom: 20px;
   }
   #pb{
       font-size: 13px;
       position: relative;
       bottom: 25px;
   }
 #myname{
     font-size: 30px;
     position: relative;
     bottom: 30px;
  }
#title{
  font-size: 10px;
  line-height: 1.8;
  position: relative;
  bottom: 40px;
}
.FSD{
  font-size: larger;
}
.myProjectsLinks{
  color: rgb(128, 112, 216);
  text-decoration: underline;
}
#socialMedia1{
    width: 20px;
    height: 20px;
    margin: 80px;
    padding-left: 500px;
    position: relative;
    top: 9px;
} 
#socialMedia2{
  width: 20px;
  height: 20px;
  padding-left: 660px;
  position: relative;
  bottom: 59px;
}
#socialMedia3{
  width: 20px;
  height: 20px;
  padding-left: 620px;
  position: relative;
  top: 113px; 
}
#socialMedia4{
  width: 20px;
  height: 20px;
  padding-left: 700px;
  position: relative;
  bottom: 115px; 
}
   
nav:hover {
    background-color: #084e5a;
}

.portfoliopage{
    background-color: #f1f1f1;
    margin: 0;
    padding: 0; 
}
.dropdowns{
  background-attachment: fixed;
}
.skills{
    background-color: grey;
  color: black;
  cursor: pointer;
  padding: 18px;
  margin-top: 100px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}
.active, .skills:hover {
    background-color: rgb(179, 161, 194);
  }
  .skillstext {
    padding: 0 15px;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: 'Sansita Swashed', cursive;
  }
  .skills:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
  }
 .minusShow:after {
    content: "\2796";  /* Unicode character for "minus" sign (-)*/ 
  }

  .projects{
    background-color: grey;
    color: black;
    cursor: pointer;
    padding: 18px;
    margin-top: 20px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
   font-weight: bold;
   font-family: 'Dancing Script', cursive;
  }
.active, .projects:hover {
    background-color: rgb(179, 161, 194);
}
.projectstext {
    padding: 0 15px;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: 'Sansita Swashed', cursive;
  }
  .projects:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
  }
  .minusSign:after {
    content: "\2796";
  }
  .interests{
    background-color: grey;
    color: black;
    cursor: pointer;
    padding: 18px;
    margin-top: 20px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
   font-weight: bold;
   font-family: 'Dancing Script', cursive;
  }
.active, .interests:hover {
    background-color:rgb(179, 161, 194);
}
.intereststext {
    padding: 0 15px;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: 'Sansita Swashed', cursive;
  }
  .interests:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
  }
  .minusSign:after {
    content: "\2796";
  }
  
#image1{
    height: 80px;
    width: 80px;
    margin-left: 80px;
    position: absolute;
    top: 90px; 
}
#image2{
  height: 80px;
  width: 80px;
  margin-left: 1200px;
  position: absolute;
  top: 90px;
}
#image3{
  height: 80px;
  width: 80px;
  margin-left: 330px;
  position: absolute;
  top: 90px;
}
#image4{
  height: 80px;
  width: 80px;
  margin-left: 960px;
  position: absolute;
  top: 90px;
}
.resumepage{
    margin: 0;
    padding: 0;
}
.contactpage{
    background-color: lightblue;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.contactPageText{
    margin: 10px;
    position: relative;
    bottom: 25px;
    font-family: 'Dancing Script', cursive;
}

.uploadSubmit{
    margin-left: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn {                      /*Apart from position, code was generated from css3buttongenerator.com */
  position: relative;
  left: 65px;
  top: 5px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}