body{
    background-color: seashell; 
}

h1{ 
    text-align: center; color:tomato
}

.ContactDetails{
    text-align: center; 
}

h2 {
    font-size: 20px;
}

.dates{
    text-align: right;
}
.dates#UniportOnly{
     color: teal
}

#EmailOnly{
    background-image: url("emailgif.gif");
}

/*{
    font-style: italic;
}                                   /* Astericks symbol affects the entire HTML page.*/     /*This symbol "/*" is used for comments*/
